<!-- views/partials/header.ejs -->

<header>
  <nav>
    <a href="/"><h1>Larice @608</h1></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>